.list-places {
  padding-left: 15px;
  padding-right: 15px;
}

.iamgenconteninfo {
  position: relative;
}

.iamgenconteninfo > .card-img-top {
  width: 100%;
  height: 250px;
  max-width: 100%;
  max-height: 250px;
  object-fit: cover;
  z-index: 1;
}

.iamgenconteninfo > .infopoint {
  position: absolute;
  right: 10px;
  top: 10px;
  width: auto;
  height: 25px;
  z-index: 2;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  color: rgb(76, 175, 80);
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card {
  overflow: hidden;
  border-radius: 20px;
}

.card:hover,
.card:checked {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-primary {
  background: #66bb6a;
  border-color: #66bb6a;
  border-radius: 20px;
  width: 100px;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:checked {
  background: white;
  border-color: #66bb6a;
  color: #66bb6a;
  border-radius: 20px;
  width: 100px;
}
